/* Styling for the protfolio page */
/* work div */
.work{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2%;
    padding-bottom: 1%;
}

.workTitle{
    width:25%;
    padding-right: 1%;
}

.gallery{
    width:75%;
    padding-left: 2%;
}
/* Styling for the large image box at the top of the page */
.largeImage{
    height: 300px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url("../../public/images/Blog-Me.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
    padding-bottom: 2%;
    border: 5px solid rgb(13, 13, 13);
}


/* Styling for the text inside the large image box */
.largeImage div {
    font-size:30px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
}
/* Styling for the sub-text inside the large image box */
.largeImage div small{
    font-size: 50%;
}
/* Container for the image below the large image */
.galleryContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
}
/* styling for the first small image on the left below large image */
.smallImage1{
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url("../../public/images/smallImage1.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
    padding-bottom: 2%;
    border: 5px solid rgb(13, 13, 13);
    
}

.project-info{
    opacity: 5%;
}
.project-info:hover{
    opacity: 100%;
}


.smallImage1 div{
    font-size:30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.smallImage1 div p{
    font-size: 50%;
}
/* styling for the second small image below large image */
.smallImage2{
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url("../../public/images/Fiesta-Collector.png");
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
    padding-bottom: 2%;
    border: 5px solid rgb(13, 13, 13);
}

.smallImage2 div{
    font-size:30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.smallImage2 div p{
    font-size: 50%;
}

/* styling for the third small image below large image */
.smallImage3{
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url("../../public/images/BearCave.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
    padding-bottom: 2%;
    border: 5px solid rgb(13, 13, 13);
}

.smallImage3 div{
    font-size:30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.smallImage3 div p{
    font-size: 50%;
}

/* styling for the fourth small image below large image */
.smallImage4{
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url("../../public/images/GenMeReadMe.png");
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
    padding-bottom: 2%;
    border: 5px solid rgb(13, 13, 13);
}


.smallImage4 div{
    font-size:30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.smallImage4 div p{
    font-size: 50%;
}
/* styling for the fith small image below large image */
.smallImage5{
    height: 150px;
    width: 100%;
    margin-bottom: 0.5%;
    background-image: url("../../public/images/WeatherDashboard.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: flex-end;
    padding-bottom: 2%;
    border: 5px solid rgb(13, 13, 13);
}


.smallImage5 div{
    font-size:30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.smallImage5 div p{
    font-size: 50%;
}

/* styling for all Protfolio components with a mobile first design  */
@media only screen and (max-width: 990px){
    .galleryContainer{
        grid-template-columns: repeat(1,1fr);
    }
    .work{
        flex-direction:column;
    }
    
    .workTitle{
        width:100%;
    }
    
    .work h2{
        text-align: center;
        padding: 3% 0;
    }
    
    .gallery{
        width:100%;
        border:none;
        padding:3%;
    }
}
